.main-header{
	top: 0;
	position: sticky;
	z-index: 7;
	background-color: #fff;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.top-nav-bar{
	height: 45px;
	top: 0;
	position: sticky;
	background: #BFB68D;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
}
.menu-bar{
	width: 40%;
	height: 45px !important;
	float: right;
	margin-right: 50px;
}
.menu-bar ul{
	display: inline-flex;
	float: right;
}
.menu-bar ul li{
	list-style-type: none;
	padding: 9.5px 5px;
	text-align: center;
	background-color: #BFB68D;
	cursor: pointer;
	border-bottom: 2px solid black;
}
.menu-bar ul li a{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
.fa-home, .fa-user,.fa-shopping-cart{
	margin-left: 5px;
	margin-right: 10px;
}
.logo{
	height: 120px;
	width:250px;
}
.form-control{
	margin-top: 9px;
	margin-left: 30px;
	border:1px solid gray !important;
	border-top-left-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important; 
	box-shadow: none !important; 
}
.input-group-text{
	background: grey !important;
	border: 1px solid gray !important;
	margin: 9px 10px 3px 0 !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 20px !important;
	border-bottom-right-radius: 20px !important; 
	cursor: pointer;
	padding-top:10px;
	padding-bottom: 10px; 
}
.search{
	margin-top: 15px;
	display: inline-flex;
	width: 40%;
	float: right;
}
.fa-search{
	color: white;
}
@media only screen and (max-width: 980px)
{
	.top-nav-bar{
		height: 70px;
		border-bottom: 0;
	}
	.menu-bar{
		width: 100%;
		margin-right: 0px;
	}
	.menu-bar ul{
		padding-inline-start: 0px;
		width: 100%;
	}
	.menu-bar ul li{
		height: 70px;
		width: 100%;
	}
	.logo{
		margin-left: 40px;
	}
	.search{
		width: 100%;
		margin-bottom: 10px;
	}

}

#search{
	margin-top: 25px; 
	float: right;
}

.navbar-brand
{
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 145px;
	margin-left: 30px; 
	font-size: 40px;
	font-weight: bold;
}
.nav-link_content{
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}
.content{
	margin-top: 10px;
}
.card{
	margin-top: 10px;
	margin-bottom: 10px; 
	margin-left: 10px;	
}
.card a{
	color: black;
}
.card a:hover{
	text-decoration: none;
}
.card-deck .card{
	transition: 1s;
	cursor: pointer;
	padding: 12px;
}
.card-deck .card:hover{
	transform: scale(1.05);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-deck .card img{
	transition: 1s;
	cursor: pointer;
}
.card-deck .card img:hover{
	transform: scale(1.1);
}
.join_us{
	margin-right: 10px;
}

footer{
	padding-top: 10px;
	background-color: #483D37;
	color:#ffffff;
}
ul.footer_ul{
    list-style-type: none;
    padding-left: 0px;
}
p.about_us{
	text-align: justify;
	text-justify: inter-word;
}
.footer a{
	color: #ffffff;
}
.footer h1{
	font-size: 15px;
	margin: 25px;
}
.footer p{
	font-size: 12px;
}
.footer i.fab{
	margin: 10px;
	font-size: 40px;
}
.footer i.fab:hover{
	transform: scale(1.1);
}
.single-product input
{
	border: 1px solid #ccc ;
	font-weight: bold;
	height: 33px;
	text-align: center;
	width: 30px;
}
.single-product .btn-primary{
	font: size 15px;
	margin-left:20px;
	border: none;
	box-shadow: none !important;  
}

.more_option{
	margin-bottom: 20px;
}

.more_option h2{
	background: #BFB68D;
	color: #fff;
	width: 130px;
	padding: 4px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
	font-size: 24px;

}
.more_option h2::after{
	content: '';
	border-top: 40px solid #BFB68D;
	border-right:50px solid transparent;
	position: absolute;
	display: flex;
	margin-top:-4px;
	margin-left: 120px;
}

footer .title:after {
    border-bottom: 1px solid #333;
    content: '';
    display: block;
    width: 100%;
}
/* .footer i.fa-facebook-square:hover{
	color:	#3b5998;
	background-color: #fff;
	padding-top: -5px;
} */

